body {
    background-image: url(background.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
}

.Titre {
    position: relative;
    margin: auto;
    top: 0%;
    margin-left: 38%;
    font-size: 45px;
    font-family: 'Amatic SC', cursive;
    color: white;
}

.bloc {
    background-color: #c5b3a5 ;
}