body {
    background-image: url(background.jpg);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
}

.Titre {
    position: relative;
    margin: auto;
    top: 0%;
    margin-left: 38%;
    font-size: 45px;
    font-family: 'Amatic SC', cursive;
    color: white;
}

.bloc {
    background-color: #c5b3a5 ;
}

b {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.resultats {
    font-family: 'Teko', sans-serif;
    font-size:25px;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    margin-top: 25vw;
    margin-left: 40vw;
  }
  
  .btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }
  
  .btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
  .show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
  }
  
  .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
  .show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }






















